---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/torvalds/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ce72e8d29fc17b9a02c5544a4337fcc3a33ae78cd76bd8a66cad636aa398d70"
      Last-Modified:
      - Sun, 07 Aug 2022 00:50:01 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/1024025/events?page=2>; rel="next", <https://api.github.com/user/1024025/events?page=10>;
        rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1659896541'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '10'
    body:
      encoding: UTF-8
      string: '[{"id":"23298564272","type":"PushEvent","actor":{"id":1024025,"login":"torvalds","display_login":"torvalds","gravatar_id":"","url":"https://api.github.com/users/torvalds","avatar_url":"https://avatars.githubusercontent.com/u/1024025?"},"repo":{"id":2325298,"name":"torvalds/linux","url":"https://api.github.com/repos/torvalds/linux"},"payload":{"push_id":10657204672,"size":285,"distinct_size":285,"ref":"refs/heads/master","head":"1612c382ffbdf1f673caec76502b1c00e6d35363","before":"4d1044fcb996e8de9b9ab392f4a767890e45202d","commits":[{"sha":"113fe88eed53af08800f54a03e463636105831e0","author":{"email":"christophe.leroy@csgroup.eu","name":"Christophe
        Leroy"},"message":"powerpc: Don''t include asm/setup.h in asm/machdep.h\n\nasm/machdep.h
        doesn''t need asm/setup.h\n\nRemove it.\n\nAdd it directly in files that needs
        it.\n\nSigned-off-by: Christophe Leroy <christophe.leroy@csgroup.eu>\nSigned-off-by:
        Michael Ellerman <mpe@ellerman.id.au>\nLink: https://lore.kernel.org/r/3b1dfb19a2c3265fb4abc2bfc7b6eae9261a998b.1654966508.git.christophe.leroy@csgroup.eu","distinct":true,"url":"https://api.github.com/repos/torvalds/linux/commits/113fe88eed53af08800f54a03e463636105831e0"},{"sha":"7dc3ba0a071892ea212f90f63738fd9f81b1f638","author":{"email":"christophe.leroy@csgroup.eu","name":"Christophe
        Leroy"},"message":"powerpc: Move prom_init() out of asm-prototypes.h\n\nThis
        is the end of the work started with commit 76222808fc25 (\"powerpc:\nMove
        C prototypes out of asm-prototypes.h\")\n\nNow that asm/machdep.h doesn''t
        include asm/setup.[...]
